{% if btnArray is not empty %}
    <div style ="padding:5px">
{# style 3 #}
    {% if styles.style ==  1 %}
         {% for key, user in btnArray %}

            <div class = "icon-div">

                        <div class="text-tool">
                        <div>
                            <label class="switch">
                                <input type="checkbox" onClick = "switchAction(this)" id = "{{key}}" confirm = {{styles.checkAlert}} >
                                <span class="slider round"></span>
                            </label>

                              <span class="tooltiptextN">{{hover[key]}}</span>
                        </div>
                         </div> 
                         <a  onClick = "shareAction(this)" class="{{ 'stb-' ~ key ~ '_gray'}}" href="javascript:;" id = "{{'id_' ~ key }}" availability = "false" styleName = "1" ></a>
                    </div>  
                
               
           
        {% endfor %}
    
    {% endif %}


{# style 2 #}
    {% if styles.style == 2 %}
         {% for key, user in btnArray %}

             <div style="display:inline-flex; margin-bottom: 10px">

                        <div class="text-tool">
                        <div>
                            <label class="switch style2" class="check_social">
                                <input type="checkbox" onClick = "switchAction(this)" id = "{{ key }}" confirm = {{styles.checkAlert}}>
                                <span class="slider round"   ></span>
                            </label>

                              <span class="tooltiptextN">{{hover[key]}}</span>
                        </div>
                         </div> 
                        <a  onClick = "shareAction(this)" class="socialuttons" data-socialuttons="{{key}}" href="javascript:;" title="" id = "{{'id_' ~ key }}"  styleName = "2"></a>
                    </div> 
                
        {% endfor %}
    {% endif %}



{# style 3 #}
    {% if styles.style ==  3 %}
         {% for key, user in btnArray %}
                    <div style="display:inline-flex">

                        <div class="text-tool">
                        <div>
                            <label class="switch">
                                <input type="checkbox" onClick = "switchAction(this)" id = "{{ key }}" confirm = {{styles.checkAlert}} >
                                <span class="slider round"></span>
                            </label>

                              <span class="tooltiptextN">{{hover[key]}}</span>
                        </div>
                         </div> 
                        <a  onClick = "shareAction(this)" class="stb {{ 'stb-' ~ key ~ '_circle_' ~ styles.animation }}" href="javascript:;" id = "{{'id_' ~ key }}" styleName = "3"><span class="{{styles.btnType}}">{{ key }}</span></a>
                    </div>   
        {% endfor %}    
    {% endif %}
   

 </div>

<div id="myModal" class="my-modal">
    <div class="my-modal-content">  
        <p><input  style= "margin-right:2px" type="checkbox" id="my_checkbox" name="vehicle1" value="none" onclick="checkBox()">I agree to the <a href='{{styles.link}}'>pricacy policy </a>and will adhere to them unconditionally</p>
        <p></p>
        <div class = "buttondiv">
        <button type="button" id="accept" onClick="acceptAction()" disabled>Accept</button> 
        <button type="button" class="btnclose"  onClick="closetAction()">Close</button>
        </div>
    </div>
</div>
                     
                     

 {% endif %}